<%- include('./partials/head.ejs'); %> 
<body>
    <%- include('./partials/header.ejs'); %> 

    <main>
        <section>
            <h1>Overzicht</h1>
            <p>shirt 1:</p>
            <p>kleur: <%= color %></p>
            <p>tekst: <%= text %></p>
            <p>kleur: <%= color %></p>
            <p>kleur: <%= color %></p>
        </section>
    </main>

</body>
</html>